auto-install-peers=true # automatically install peer dependencies, default to true since pnpm v8
resolution-mode="highest" # since pnpm v8, packages are resolved by default in the lowest version possible, however it's not we want
node-linker=hoisted # makes all peer dependencies installed on the root's node_modules