auto-install-peers=true # automatically install peer dependencies, default to true since pnpm v8
node-linker=hoisted     # don't use symlinks
shamefully-hoist=true   # hoist all dependencies to the root's node_modules
