name: e2e

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:
  workflow_call:

jobs:
  e2e:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
        node: ["lts/*", "latest"]
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup pnpm
        uses: pnpm/action-setup@v4
      - name: use node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm
      - name: install dependencies
        run: pnpm install
      - name: run e2e tests
        run: pnpm run test:e2e
        timeout-minutes: 30
        env:
          CI: true
          DEBUG: ${{ vars.DEBUG }}
