name: continuous integration

on:
  push:
    branches:
      - '**'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [10, 12, 14]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: use node ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: cache node_modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ matrix.node }}-dependencies-${{ hashFiles('package-lock.json') }}
      - name: install dependencies
        run: npm ci
      - name: run test
        run: npm test
        env:
          CI: true
      - name: run lint
        run: npm run lint --if-present
      - name: run build
        run: npm run build --if-present
