name: code test

on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [16, 17, 18, 19, 20]
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: use node ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: install npm@7 for workspace
        run: npm i -g npm@7
      - name: cache node_modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ matrix.node }}-dependencies-${{ hashFiles('package-lock.json') }}
      - name: install dependencies
        run: npm ci
      - name: run test
        run: npm run test --if-present
        env:
          CI: true
      - name: run build
        run: npm run build --if-present
